/* место для вашего кода */

adress {
  font-style: normal;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr 145px 1fr;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 92px;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.header__menu {
  display: flex;
  align-items: center;
  padding-left: 27px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  display: block;
  width: 145px;
  height: 105px;
}

.header__logo-image {
  width: 145px;
  height: 105px;
}

.header__address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-right: 62px;
  line-height: 25px;
}
